<div class="col-md-6 float-left no-padding">
    <div class="col-md-12 float-left no-padding outter-div">
        <div class="col-md-12 float-left no-padding single-widget">
            <div class="col-md-12 float-left no-padding single-widget-heading">
                Lift
            </div>
            <div class="col-md-12 float-left no-padding single-widget-content">
                <div class="col-xs-6 float-left no-padding">
                    <div class="col-md-12 float-left no-padding single-variable">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-3 no-padding">
                                <img class="img-responsive" src="images/gen-power.png">
                            </div>
                            <div class="col-md-9 no-padding gen-value">
                                0245
                            </div>

                        </div>
                        <div class="gen-label no-padding"> &nbsp;</div>

                    </div>
                </div>
                <div class="col-xs-6 float-left no-padding">
                    <div class="col-md-12 float-left no-padding single-variable">
                        <div class="col-md-9 no-padding gen-time-sec">
                            <div class="col-md-12 no-padding gen-label">
                                Max Weight
                            </div>
                            <div class="col-md-12 no-padding"></div>

                        </div>
                        <div class="col-md-3 no-padding gen-value">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>