body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: url(../images/login-background.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}



a {
    color: inherit;
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    margin: 70px auto;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    padding: 38px 130px 228px;
    margin: 90px auto;
    background-color: rgba(6, 10, 26, 0.6);
    border-radius: 8px;
}

/*.login-html{
  width:100%;
  height:100%;
}*/

.bigTitle {
    text-align: center;
    font-size: 24px;
    font-family: Roboto Condensed Light;
    color: #bababa;
    margin-bottom: 48px;
}

.login-form .group1 {
    margin-bottom: 20px;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    background: #252f4c;
}

.group1 input[type="text"] {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;

}

.group1 input[type="password"] {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;

}

.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    background: #f7931e;
    font-size: 14px !important;
    font-family: Roboto Medium;
}

.login-form .group .button {
    margin-top: 36px;
    font-size: 20px
}

.foot-Ink {
    text-align: center;
}

.login-label {
    color: #7a7a7a;
    font-family: Roboto Medium;
    margin-bottom: 6px;
    font-size: 14px;
}

.terms-conditions {
    position: absolute;
    left: 0px;
    font-size: 12px;
    color: #747474;
    bottom: 40px;
    padding: 0px 56px 0 56px;
}

.privcy-policy-stl {
    color: #00388d;
}

.logindiv{
    width: 69%;
    padding: 104px 51px 215px 559px;
}



